<main class="col-lg-9 col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    <h1>Processing & Queues</h1>
   <div class="row" id="area1">
      <div class="col-xs-12" ng-Controller="PathosBatchController">
        <p role="presentation" class="active">
          <button class="btn"> Current Count <span class="badge badge-primary">{{count}} </span></button>
          <button type="button" class="btn btn-xs btn-info">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
        </p>
      </div>
    </div>
    <div class="row" ng-view="">
        <div class="col-sm-auto">
          <div class="card">
            <div class="card-body">
               <app-piechart></app-piechart>
            </div>
          </div>
        </div>
        <div class="col-sm-auto">
          <div class="card">
            <div class="card-body">
               <app-line-graph></app-line-graph>
            </div>
          </div>
        </div>
        <div class="col-sm-auto">
          <div class="card">
            <div class="card-body">
              <app-barchart></app-barchart>
            </div>
          </div>
        </div>
    </div>
  </main>



